@model SV21T1020578.DomainModels.Customer
@{
    ViewBag.Title = "Xóa khách hàng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Customer/Delete/@Model.CustomerId" method="post">

            <div class="form-group">
                <label>Tên khách hàng:</label>
                <p class="form-control-static">@Model.CustomerName</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>

            <div class="form-group">
                <label>Tỉnh/thành:</label>
                <p class="form-control-static">@Model.Province</p>
            </div>

            <div class="form-group">
                <label>Trạng thái:</label>
                <p class="form-control-static">
                    @(Model.IsLocked ? "Khách hàng bị khóa" : "Không bị khóa")
                </p>
            </div>

            <div class="form-group text-right">
                @if (!SV21T1020578.BusinessLayers.CommonDataService.CustomerDB.InUsed(Model.CustomerId))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xóa dữ liệu
                    </button>
                }

                <a href="~/Customer" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>
    </div>
</div>